{% extends 'index.html' %}

{% load static %}

{% block header %}

<section class="{% static 'call-to-action-box no-padding' %}">
    <div class="{% static 'banner-carousel banner-carousel-1 mb-0' %}">
      <div class="banner-carousel-item" style="background-image:url({% static 'images/slider-main/allblogs.jpg' %})">
        <div class="slider-content">
            <div class="container">
              <div class="row align-items-center h-100">
                  <div class="col-md-12 text-center">
                    <h2 class="slide-title" data-animation-in="slideInLeft">Reseñas de los mejores restaurantes de la ciudad</h2>
                    <h3 class="slide-sub-title" data-animation-in="slideInRight">Resto Blog</h3>
                    
                  </div>
              </div>
            </div>
        </div>
      </div>
    </section>

{% endblock  %}


{% block container %}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{ readBlog.opinion | safe }}</p>
                {% if readBlog.imagen %}
                <img class="img-fluid" src= "{{ readBlog.imagen.url }}" alt="..." /></a>
                {% else %}  
                {% endif %}   
            </div>
        </div>
    </div>
</article>

{% endblock  %}

{% block message %}

{% endblock  %}

